.App {
  text-align: center;
}
body {
  background-color: #6c7fb66c !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.col-10.margin-20 {
  margin-bottom: 20px;
  padding-left: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a.dropdown-item:focus {
  box-shadow: 0 0 0 0.25rem rgb(26 179 148) !important;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  transition-duration: 0.5s;
}
a.dropdown-item:hover {
  background-color: transparent;
  color: #20c997;
  transition-duration: 0.5s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
